files/myService.wsdl

<wsdl:definitions name="MyService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="https://sfwizard.herokuapp.com/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="https://sfwizard.herokuapp.com/wsdl">

   <wsdl:documentation>MyService</wsdl:documentation>

   <wsdl:types>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="https://sfwizard.herokuapp.com/wsdl">
         <xs:element name="IpRequest">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="domain" type="xs:string" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="IpResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="ip" type="xs:string" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>

   <wsdl:message name="domainRequest">
      <wsdl:part name="parameters" element="ns:IpRequest" />
   </wsdl:message>
   <wsdl:message name="domainResponse">
      <wsdl:part name="parameters" element="ns:IpResponse" />
   </wsdl:message>

   <wsdl:portType name="MyServicePortType">
      <wsdl:operation name="MyFunction">
         <wsdl:input message="ns:domainRequest" />
         <wsdl:output message="ns:domainResponse" />
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="MyServiceHttpBinding" type="ns:MyServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
      <wsdl:operation name="MyFunction">
         <soap:operation soapAction="MyFunction" style="document" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="MyService">
      <wsdl:port name="MyServiceHttpsEndpoint" binding="ns:MyServiceHttpBinding">
         <soap:address location="https://sfwizard.herokuapp.com/wsdl" />
      </wsdl:port>
   </wsdl:service>

</wsdl:definitions>